<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My first flask view</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body class="hp-body">
    <h1 class="welcome-title">Welcome to PetFax</h1>
    {% for pet in pets %}
    <div class="pet-container">
      <h2 class="hp-pet-name">{{ pet.pet_name }}</h2>
      <img
        class="hp-pet-photo"
        width="300px"
        src="{{ pet.pet_photo }}"
        alt="{{ pet.pet_name }}"
      />
      <a class="show-link" href="/pets/{{ pet.pet_id }}">Learn more ⟩</a>
    </div>
    {% endfor %}
    <div class="form-link">
      <a href="/facts/new">Add More Facts</a>
    </div>
  </body>
</html>
