<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pet Page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body class="show-body">
    <h1 class="show-pet-name">{{ pet.pet_name }}</h1>
    <h2 class="show-didyouknow">Did you know?:</h2>
    <h3 class="show-fact">{{ pet.pet_fact }}</h3>
    <img
      class="show-pet-photo"
      src="{{ pet.pet_photo }}"
      alt="{{ pet.pet_name }}"
    />
    <a href="/pets">Go back</a>
  </body>
</html>
